# Ignore IDE settings
.idea/

# Ignore Python virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# VS Code settings (optional)
.vscode/

# Environment variables
.env
.env.*

# MacOS files
.DS_Store

# Logs
*.log
